

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


header h1 {
    font-size: 20pt;
    font-weight: bold;
    position: relative;
    top: 15px;
    
}

.back_black {
    background-color: black;
}

.altura_menu {
    height: 70px;
    width: 40%;
}

.titulo {
    background-color: #ffd000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 60%;
    text-align: center;
    font-size: 12pt;

}

header li {
    position: relative;
    top: 15px;

    margin: 0 0 0 20px;
    color:#FFD000;
    font-weight: bold;
    font-size: 20pt;
}


.menu {
    background-color: black;
    width: 40%;
    color: #ffd000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    align-items: center;
    justify-content: space-around;
    font-weight: bold;
    list-style:none;
    height: 80px;
    font-size: 20pt;
}


.flex {
    display: flex;
    flex-wrap: wrap;
}

.flex-imagens {
    display: inline-block;
    
}

.inline {
    display: inline;
}

.imagem {
    width: 25%;
    height: 400px;
    margin: 0;
    padding: 0;
    border: 0;
}

.center {
    text-align: center;
}

/* -------- LINKS ----------*/

a:link {
    color: #FFD000;
    text-decoration: none;
}

a:visited {
    color:#d3ac00
}

a:hover {
    color: orange;
}

a:active {
    color: orange;
}

/*---------------------------*/

@media (max-width: 700px){

    .titulo {
    display: none;
    }

    .imagem {
        width: 25%;
        height: 150px;
        margin: 0;
        padding: 0;
        border: 0;
    }
    .menu{
        width: 100%;
    }

    .altura_menu {
        height: 70px;
        width: 100%;
        text-align: 100%;
    }
}