

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: #FFD000;
}

.cabecalho {
    display: flex;
}

.titulo {
    width: 60%;
    height: 60px;
    background: #FFD000;
    text-align: center;
    padding: 10px 0 0 0;
    font-weight: bold;
}

.menu {
    background: #000000;
    width: 40%;
    height: 60px;
    padding: 10px 0 0 0;
    font-size: 1.2em;
    font-weight: bold;
}


div ul {
    display: flex;
}

div li {
    margin: 0 auto;
    padding: 10px;
}

h1 {
    font-size: 2em;
}

.imagens {
    display: flex;
    flex-wrap: wrap;
}

.imagem {
    width: 25%;
    margin: 0;
}

.imagem1 {
    width: 50%;
    margin: 0;
}

footer {
    text-align: center;
}

/* -------- LINKS ----------*/

a:link {
    color: #FFD000;
    text-decoration: none;
}

a:visited {
    color:#d3ac00
}

a:hover {
    color: orange;
}

a:active {
    color: orange;
}

/*---------------------------*/

footer {
    color:#FFD000;
    background-color: black;
}


@media (max-width: 700px){

    .titulo {
    display: none;
    }

    .imagem {
        width: 25%;
        height: 200px;
        margin: 0;
        padding: 0;
        border: 0;
    }
    .menu{
        width: 100%;
    }

    .altura_menu {
        height: 70px;
        width: 100%;
        text-align: 100%;
    }
}

@media (max-width: 375px){

    .titulo {
    display: none;
    }

    .imagem {
        width: 25%;
        height: 100px;
        margin: 0;
        padding: 0;
        border: 0;
    }
    .menu{
        width: 100%;
    }

    .altura_menu {
        height: 70px;
        width: 100%;
        text-align: 100%;
    }
}